{{! Maintainers - Himanshu Rajotia <himanshu.rajotia@exultcorp.com>}}
<div class="flipcard-inner component-inner" role="region" aria-label="{{_globals._components._flipcard.ariaRegion}}">
    {{> component this}}
    <div class="flipcard-widget component-widget clearfix">
        {{#each _items}}
        <div class="flipcard-item component-item item-{{@index}} {{_flipDirection}}">
            <div class="flipcard-item-face flipcard-item-front">
                {{#if frontImage.alt}}
                <img src="{{frontImage.src}}" class="flipcard-item-frontImage" aria-label="{{frontImage.alt}}" tabindex="0">
                {{else}}
                <img src="{{frontImage.src}}" class="flipcard-item-frontImage a11y-ignore" aria-hidden="true" tabindex="-1">
                {{/if}}
            </div>

            <div class="flipcard-item-face flipcard-item-back" tabindex="0">
                {{#if backTitle}}
                <div class="flipcard-item-back-title h4">
                {{{backTitle}}}
                </div>
                {{/if}}
                {{#if backBody}}
                <div class="flipcard-item-back-body">
                {{{backBody}}}
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
