<div class="flipcard__inner component__inner" role="region">
  {{> component this}}
    <div class="flipcard__widget component__widget clearfix">
      {{#each _items}}
        <div class="flipcard__item component__item item-{{@index}} {{_flipDirection}}">
          <div class="flipcard__item-face flipcard__item-front" aria-label="{{frontImage.alt}}" role="button">
            <img src="{{frontImage.src}}" class="flipcard__item-frontImage">
          </div>
          <div class="flipcard__item-face flipcard__item-back" role="button">
            {{#if backTitle}}
              <div class="flipcard__item-back-title" role="heading">
                {{{backTitle}}}
              </div>
            {{/if}}
            {{#if backBody}}
              <div class="flipcard__item-back-body">
                {{{compile backBody}}}
              </div>
            {{/if}}
          </div>
       </div>
      {{/each}}
  </div>
</div>